body {
  margin: 0;
  font-family: W95FA;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #03912e;
}

@font-face {
  font-family: W95FA;
  src: url("https://cdn.glitch.com/ab2515f5-46a5-4d6b-9757-b7f6f20cc638%2FW95FA.otf?v=1629837049242")
      format("opentype"),
    url("https://cdn.glitch.com/ab2515f5-46a5-4d6b-9757-b7f6f20cc638%2FW95FA.otf?v=1629837049242")
      format("truetype");
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.flower {
  image-rendering: pixelated;
  height: 55px;
  width: auto;
}

body {
  cursor: url("../public/arrow.cur"), auto;
}
button {
  cursor: url("../public/select.cur"), auto;
}
